html {
  /* color vars */
  --yellow-color: #ffe666;
  // --grey-color-line: #ECECEC;
  // --grey-color-text: #95989d;
  // --grey-color-body: #f3f4f5;
  // --grey-color-text-body: #93979f;
  --grey-color-body: #F3F4F5;
  --grey-color-elem: #ececec;
  --grey-color-text: #9b9b9b;
  --grey-color-line: #ececec;
}
