@font-face {
	font-family: 'Golos';
	src: url('/assets/fonts/Golos_Regular.eot');
	src:
	     url('/assets/fonts/Golos_Regular.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/Golos_Regular.woff2') format('woff2'),
	     url('/assets/fonts/Golos_Regular.woff') format('woff'),
	     url('/assets/fonts/Golos_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
