.form {
  display: grid;
  gap: 20px 10px;

  &__elem {
    position: relative;
    display: block;
  }

  &__label {
    position: absolute;
    top: 14px;
    left: 16px;
    color: var(--grey-color-body-text);
    font-size: 0.9em;
    transition: all 0.1s;
  }

  &__input {
    width: 100%;
    padding: 24px 16px 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--grey-color-body);
    font-size: 1rem;

    &:focus {
      outline-color: var(--yellow-color);
    }
  }

  &__input:focus ~ &__label,
  &__input--no-empty ~ &__label {
    top: 7px;
    font-size: 0.8em;
  }
}
